.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.containeru {
  display: flex;
  height: 500vh;
}

.left {
  background-color:#ffff;
  flex-basis: 50%;
}

.right {
  background-color: #ffd7cd;
  flex-basis: 50%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

#boton-register {
  background-color:#f69495; 
  border-color:#f69495;
  margin-top: 17px;
  margin-left: 160px;
}

#boton-login {
  background-color:#f69495;
  border-color:#f69495;
  margin-top: 17px;
  margin-left: 190px;
}

#boton-fichas{
  background-color:#787994; 
  border-color:#787994;
}

#info{
  background-color:#68b46e; 
  border-color:#68b46e;
}

.custom-card {
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 5px;
  border: 2px solid #787994;
  padding: 10px;
}
